:root {
  --color-white: #fff;
  --color-cyan-blue: #2c3e50;
  --color-aquamarine: #1abc9c;
}

* {
  outline: 0;
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: var(--color-white);
}

/* header */
header {
  background-color: var(--color-cyan-blue);
  position: sticky;
  top: 0;
  z-index: 10;
}

header nav {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

header nav>a:nth-child(1) {
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

header nav>ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

header nav>ul>li {
  list-style-type: none;
  font-size: 1.2rem;
}

header nav>ul>li>a {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  transition: all 0.3s ease;
}

header nav>ul>li>a:hover {
  color: #7fffd4;
}

header .humborger {
  display: none;
  cursor: pointer;
}

header .humborger>span {
  background-color: var(--color-white);
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
}

/* section-1 */
#start {
  background-color: var(--color-aquamarine);
  width: 100%;
  text-align: center;
  padding: 100px 12px;
}

#start img {
  display: block;
  width: 250px;
  margin: 0 auto;
}

#start h1 {
  text-transform: uppercase;
  font-size: 64px;
  font-weight: 700;
  color: var(--color-white);
  margin-top: 30px;
}

#start .star {
  border: none;
  border-top: 4px solid var(--color-white);
  width: 300px;
  margin: 20px auto;
}

#start .star>i {
  display: block;
  position: relative;
  top: -17px;
  font-size: 30px;
  width: 30px;
  margin: 0 auto;
  padding-right: 50px;
  padding-left: 20px;
  background-color: var(--color-aquamarine);
  color: var(--color-white);
}

#start p {
  text-transform: capitalize;
  color: var(--color-white);
  font-size: 24px;
  font-weight: 400;
}

/* section-2 */
#portfolio {
  width: 90%;
  text-align: center;
  padding: 96px 0;
  margin: 0 auto;
}

#portfolio h2 {
  font-size: 48px;
  font-weight: 700;
  color: var(--color-cyan-blue);
  text-transform: uppercase;
}

#portfolio .star {
  border: none;
  border-top: 4px solid var(--color-cyan-blue);
  width: 280px;
  margin: 20px auto;
}

#portfolio .star>i {
  display: block;
  position: relative;
  top: -17px;
  font-size: 30px;
  width: 30px;
  margin: 0 auto;
  padding-right: 50px;
  padding-left: 20px;
  background-color: var(--color-white);
  color: var(--color-cyan-blue);
}

#portfolio .row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

#portfolio .col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}

#portfolio .col-3 img {
  width: 100%;
  border-radius: 10px;
}

/* section-3 */
#about {
  background-color: var(--color-aquamarine);
  width: 100%;
  text-align: center;
  /* margin: 0 auto; */
  padding: 96px 0;
}

#about h2 {
  color: var(--color-white);
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

#about .star {
  border: none;
  border-top: 4px solid var(--color-white);
  width: 280px;
  margin: 20px auto;
}

#about .star>i {
  display: block;
  position: relative;
  top: -17px;
  font-size: 30px;
  width: 30px;
  margin: 0 auto;
  padding-right: 50px;
  padding-left: 20px;
  background-color: var(--color-aquamarine);
  color: var(--color-white);
}

#about .row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#about .row>article {
  flex-basis: 50%;
  min-width: 250px;
  margin-bottom: 30px;
}

#about .row>article:nth-child(1) {
  text-align: left;
  padding-left: 19%;
  padding-right: 1%;
}

#about .row>article:nth-child(2) {
  text-align: left;
  padding-right: 19%;
  padding-left: 1%;
}

#about .row>article>p {
  color: var(--color-white);
  font-size: 20px;
  font-weight: 400;
}

#about a {
  display: inline-block;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 400;
  border: 2px solid var(--color-white);
  border-radius: 10px;
  padding: 15px 25px;
}

#about a:hover {
  background-color: var(--color-white);
  color: #000;
}

/* section-4 */
#contact {
  width: 45%;
  margin: 0 auto;
  padding: 96px 0;
  text-align: center;
}

#contact h2 {
  text-transform: capitalize;
  color: var(--color-cyan-blue);
  font-size: 48px;
}

#contact .star {
  border: none;
  border-top: 4px solid var(--color-cyan-blue);
  width: 270px;
  margin: 20px auto;
}

#contact .star>i {
  display: block;
  position: relative;
  top: -16px;
  font-size: 30px;
  width: 30px;
  margin: 0 auto;
  padding-right: 50px;
  padding-left: 20px;
  background-color: var(--color-white);
  color: var(--color-cyan-blue);
}

#portfolio .row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

#contact form>label {
  display: block;
  text-align: left;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.747);
  padding-top: 30px;
  cursor: text;
}

#contact input:not(input[type="submit"]),
#contact textarea {
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.301);
  width: 100%;
  padding-bottom: 5px;
  font-size: 20px;
}

input[type='submit'] {
  background-color: var(--color-aquamarine);
  display: block;
  margin-top: 30px;
  font-size: 20px;
  padding: 20px 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  color: var(--color-white);
}
input[type='submit']:hover {
  background-color: #0c967a;
}

/* end */
#end {
  width: 100%;
  background-color: var(--color-cyan-blue);
  padding: 100px 10%;
}

#end .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#end .row>article {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
  color: var(--color-white);
}

#end .row>article>h2 {
  text-transform: capitalize;
  margin-bottom: 10px;
}

#end .social>a {
  display: inline-block;
  border: 2px solid var(--color-white);
  text-align: center;
  margin-right: 10px;
  width: 60px;
  padding: 15px 10px;
  border-radius: 50%;
  transition: 0.3s;
}

#end .social>a:hover {
  background-color: var(--color-white);
  color: #000;
}

#end .row>article>a {
  text-decoration: underline;
}

/* footer */
footer {
  width: 100%;
  background-color: #111c27;
  padding: 30px;
  text-align: center;
}

footer p {
  color: var(--color-white);
  font-size: 13px;
}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {
  header nav>a:nth-child(1) {
    text-transform: capitalize;
    font-size: 1.5rem;
  }

  header nav>ul {
    background-color: var(--color-cyan-blue);
    position: fixed;
    top: 70px;
    left: -100%;
    flex-direction: column;
    width: 100%;
    padding-bottom: 15px;
    transition: 0.3s;
  }

  header nav>ul.active {
    left: 0%;
  }

  header nav>ul>li {
    margin: 16px 0;
  }

  header .humborger {
    display: block;
  }

  header .humborger.active>span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  header .humborger.active>span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  header .humborger.active>span:nth-child(2) {
    opacity: 0;
  }

  /* section-1 */
  #start img {
    width: 150px;
  }

  #start h1 {
    font-size: 42px;
  }

  
  #start .star {
    width: 250px;
  }

  #start p {
    font-size: 20px;
  }

  /* section-2 */
  #portfolio h2 {
    font-size: 36px;
  }

  #portfolio .star {
    width: 240px;
  }

  /* section-3 */
  #about h2 {
    font-size: 36px;
  }

  #about .star {
    width: 250px;
  }

  #about .row>article {
    flex-basis: 90%;
  }

  #about .row>article:nth-child(1) {
    padding: 0 10px;
    margin-bottom: 30px;
  }

  #about .row>article:nth-child(2) {
    padding: 0 10px;
  }

  /* section-4 */
  #contact h2 {
    font-size: 23px;
  }

  #contact .star {
    width: 140px;
  }
  
  #contact .star>i {
    font-size: 25px;
    padding-right: 40px;
    padding-left: 10px;
  }

  #contact hr::after {
    width: 25px;
    top: -15px;
    padding: 0 10px;
  }

  #contact form>label {
    font-size: 18px;
  }

  input[type='submit'] {
    font-size: 18px;
    padding: 15px 25px;
  }
}


/*`sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {}